<script setup lang="ts">
</script>

<template>
  <div>
    <router-link to="/Home">Jump To HelloWorld Page</router-link>
  </div>
  <!-- 跳转的路由内容显示在router-view标签中 -->
  <router-view></router-view>
</template>

<!-- 全局scss，app.vue中的style不可以加scoped，style中必须写东西 -->
<style>
/* 样式 */
</style>
