<template>
  <div class="icons-list">
    <icon-font type="icon-tuichu" />
    <icon-font type="icon-facebook" />
    <icon-font type="icon-twitter" />

    <div class="box">
      <div class="block">
      </div>
      <div class="block">
      </div>
      <div class="block" style="margin-left: auto;">
      </div>
    </div>

    <div class="container">
      <div class="box">
        <span style="--i:1"></span>
        <span style="--i:2"></span>
        <span style="--i:3"></span>
      </div>
    </div>

    <div class="test-cover">test</div>


    <button @click="show = !show">{{txt}}</button>
    <transition name="fade">
      <div class="leftNav" v-show="show">左侧边栏</div>
    </transition>

  </div>
</template>
<script>
import { Icon } from 'ant-design-vue';

const IconFont = Icon.createFromIconfontCN({
  scriptUrl: '//at.alicdn.com/t/font_8d5l8fzk5b87iudi.js',
});
export default {
  components: {
    IconFont,
  },
  data() {
    return {
      show: true,
    }
  },
  beforeDestroy() {
    this.$destroy()
  },
  computed: {
    txt() {
      return this.show ? '收起' : '展开'
    }
  }
};
</script>
<style scoped>
.leftNav {
  height: 90vh;
  width: 200px;
  background-color: #ccc;
}

/*设置动画*/
.fade-enter,
.fade-leave-to {
  transform: translateX(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: 1s;
}

.fade-enter-to {
  transform: translateX(0)
}



.test-cover {
  width: 50px;
  height: 50px;
  background-color: rgb(47, 182, 139);
}

.icons-list >>> .anticon {
  margin-right: 6px;
  font-size: 24px;
  color: rgb(206, 26, 26);
}

.box {
  display: flex;
  justify-content: flex-start;
}

.block {
  width: 100px;
  height: 100px;
  background-color: black;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.container .box span {
  position: absolute;
  box-sizing: border-box;
  border: none;
  background: rgba(234, 85, 20, 0.4);
  border-radius: 50%;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.5s * var(--i))
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}
</style>


