@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1702048693564') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e617";
}

.icon-bianji1:before {
  content: "\e611";
}

.icon-bianji2:before {
  content: "\e50e";
}

.icon-bianji3:before {
  content: "\e605";
}

.icon-bianji4:before {
  content: "\e602";
}

.icon-bianji5:before {
  content: "\e646";
}

.icon-bianji6:before {
  content: "\e88f";
}

.icon-bianji7:before {
  content: "\e60f";
}

.icon-bianjiwenjian1:before {
  content: "\e630";
}

.icon-bianji8:before {
  content: "\e678";
}

.icon-bianji9:before {
  content: "\e623";
}

.icon-bianji10:before {
  content: "\e6d5";
}

