<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <style>
    /* 滚动条优化 start */
    /* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
    ::-webkit-scrollbar {
      /* width: 10px;
      height: 10px;
      background-color: #ebebe0; */
      width: 6px;
      height: 6px;
      background-color: transparent;
    }

    /* 定义滚动条轨道 内阴影+圆角 */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(139, 136, 136, 0.3) !important;
      border-radius: 2px;
      background-color: #f5f5f5;
    }

    /*定义滑块  内阴影+圆角*/
    .input-table .thead::-webkit-scrollbar-thumb,
    .input-table .thead .tr::-webkit-scrollbar-thumb,
    .input-table .scroll-view::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
      border-radius: 2px;
      box-shadow: inset 0 0 6px rgba(151, 146, 146, 0.3);
      background-color: #9a9a9b !important;
    }

    .input-table .thead::-webkit-scrollbar-thumb:hover,
    .input-table .thead .tr::-webkit-scrollbar-thumb:hover,
    .input-table .scroll-view::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:hover {
      background-color: #9a9a9b;
    }

    /* 滚动条优化 end */
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>