<template>
  <div class="layout-advanced-search">
    <a-form class="ant-advanced-search-form" :label-col="{ span: 5 }" :wrapper-col="{ span: 17 }"
      :form="form" @submit="handleSearch">
      <a-row :gutter="24">
        <a-col v-for="(e, i) in queryItems" :key="i" :span="6" :style="{ display: i < count ? 'block' : 'none' }">
          <a-form-item :label="`${e.label}`">
            <a-input v-decorator="[`${e.decorator}`,
            {
              rules: e.rules
            }
            ]" :placeholder="`${e.placeholder}`"/>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item class="search-control">
            <a-button type="primary" icon="search" html-type="submit">查询</a-button>
            <a-button icon="undo" @click="handleReset">重置</a-button>
            <a @click="toggle">Collapse <a-icon :type="expand ? 'up' : 'down'"/></a>
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
    <div class="search-result-list">
      <div class="search-operations">
        <a-button type="primary" icon="plus">新增</a-button>
        <a-button type="danger" icon="delete" ghost>删除</a-button>
      </div>
      <a-table class="search-table" size="middle" 
        :loading="loading"
        :customRow="customRow"
        rowKey="id" 
        :columns="columns" 
        :data-source="data"
        :pagination="false"
        @change="tableChange"
        :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
        <span slot="icon" slot-scope="text, record">
          <a-icon :type="record.icon" />
        </span>
        <span slot="action" slot-scope="text, record">
          <a-icon class="operation-item" type="snippets" theme="filled" @click="showDetail(record)"/>
          <a-icon class="operation-item" type="edit" theme="filled" @click="showEdit(record)"/>
          <a-popconfirm title="确认删除吗?" ok-text="确认" cancel-text="取消" @confirm="showDelete(record)">
            <a-icon class="operation-item" type="delete" theme="filled"/>
          </a-popconfirm>
        </span>
      </a-table>
    </div>
  </div>
</template>
<script>
import { listMenu, pageMenu } from '@/request/api';

export default {
  data() {
    return {
      expand: false,
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      queryItems: [
        {
          label: '菜单名称',
          decorator: 'name',
          placeholder: '请输入菜单名称',
          rules: [
            { required: false, message: 'Input something!' }
          ]
        }
      ],
      param: {},
      loading: false,
      selectedRowKeys: [],
      data: [],
      columns: [
        {
          title: '标题',
          dataIndex: 'title',
          key: 'title'
        },
        {
          title: '类型',
          dataIndex: 'type',
          key: 'type',
          customRender: function(text, record, index) {
            if (text === 0) {
              text = '父级';
            } else if (text === 1) {
              text = '子级';
            } else if (text === 2) {
              text = '组';
            }
            return text;
          }
        },
        {
          title: '图标',
          dataIndex: 'icon',
          key: 'icon',
          scopedSlots: { customRender: 'icon' }
        },
        {
          title: '路径',
          dataIndex: 'path',
          key: 'path'
        },
        {
          title: '操作',
          key: 'action',
          scopedSlots: { customRender: 'action' }
        }
      ]
    };
  },
  computed: {
    count() {
      return this.expand ? 6 : 4;
    },
  },
  updated() {
    console.log('updated');
  },
  methods: {
    handleSearch(e) {
      e.preventDefault();
      this.form.validateFields((error, values) => {
        if (!error) {
          Object.assign(this.param, values);

          this.initMenu();
        }
      });
    },

    handleReset() {
      this.form.resetFields();
    },

    customRow(record, index) {
      return {
        style: {
          // 'background-color': index % 2 == 0 ? '#ffffff' : '#fafafa'
        }
      }
    },

    tableChange(pagination, filters, sorter) {
      this.pagination = pagination;
      this.initMenu();
    },

    onSelectChange(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },

    toggle() {
      this.expand = !this.expand;
    },

    initMenu() {
      this.loading = true;
      listMenu({ ...this.param })
      .then(res => this.data = res.data)
      .finally(() => this.loading = false);
    }
  },
  mounted() {
    this.initMenu();
  },
  beforeDestroy() {
    this.$destroy()
  }
};
</script>
<style lang="scss" scoped>
$colors:
  rgb(192, 201, 138),
  rgb(138, 201, 180),
  rgb(201, 140, 138);
.layout-advanced-search {

  .ant-advanced-search-form {
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    .ant-form-item {
      display: flex;
      margin: 6px 0;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }

    .search-control {

      & button {
        margin-right: 8px;
      }

      & a {
        font-size: 12px;
        // vertical-align: -webkit-baseline-middle; // 效果?
      }
    }
  }

  .ant-form {
    max-width: none;
  }

  .search-result-list {
    min-height: 200px;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 12px;
    padding: 24px;

    .search-operations {
      margin-bottom: 12px;

      button {
        margin-right: 8px;
      }
    }

    .search-table {

      // 覆盖样式
      // ::v-deep .ant-table-row-expand-icon.ant-table-row-collapsed {
      //   vertical-align: text-bottom;
      //   padding-top: 0.8px;
      // }

      // ::v-deep .ant-table-row-expand-icon.ant-table-row-expanded {
      //   vertical-align: text-bottom;
      // }

      @each $c in $colors {
        $i: index($colors, $c);        // 获取 $c 在数组中的索引，并赋值给 $i 赋值用冒号，不是等号~！
        .operation-item:nth-child(#{$i}) {     // 经典的地方来了，SCSS 循环是从 1 开始，不是 0 哦~
          color: $c;
        }
      }

      .operation-item {
        font-size: 13px;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 8px;
        }
      }
    }
  }
}
</style>