<template>
  <div class="layout">
    <a-form class="search common" layout="inline" :form="form">
      <a-form-item label="">
        <a-input placeholder="用户名" v-decorator="['username', { rules: [{ required: false }] }]" />
      </a-form-item>
      <a-form-item label="">
        <a-input placeholder="手机号" v-decorator="['phone', { rules: [{ required: false }] }]" />
      </a-form-item>
      <a-form-item label="">
        <a-range-picker @change="onDateChange" />
      </a-form-item>
      <a-form-item>
        <a-button type="primary" icon="search" @click="handleSearch">查询</a-button>
        <a-button style="margin-left: 8px;" icon="undo" @click="handleReset">重置</a-button>
      </a-form-item>
    </a-form>
    <div class="search-result-list common">
      <div class="table-operations">
        <a-button type="primary" icon="plus" @click="add">新增</a-button>
        <a-button type="danger" icon="delete" ghost @click="showConfirm">删除</a-button>
        <a-button icon="download">导出</a-button>
      </div>
      <a-table class="table" size="middle" 
        :loading="loading"
        rowKey="id"
        :columns="columns"
        :data-source="data"
        :pagination="pagination"
        @change="tableChange"
        :scroll="{ y: height.replace('px', '') }"
        :style="{ '--test': height }"
        :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange }">
        <span slot="avatar" slot-scope="text, record">
          <a-avatar shape="square" :src="record.avatar" icon="user" :size="24"/>
        </span>
        <span slot="action" slot-scope="text, record">
          <a-icon class="operation-item" type="snippets" theme="filled" @click="showDetail(record)"/>
          <a-icon class="operation-item" type="edit" theme="filled" @click="showEdit(record)"/>
          <a-popconfirm title="确认删除吗?" ok-text="确认" cancel-text="取消" @confirm="showDelete(record)">
            <a-icon class="operation-item" type="delete" theme="filled"/>
          </a-popconfirm>
          <my-icon class="operation-item" type="icon-bianji10" />
        </span>
      </a-table>
    </div>

    <a-drawer class="drawer" :title="drawer.title" width="500" :closable="false" :visible="drawer.visible"
      @close="() => drawer.visible = false">
      <a-form layout="horizontal" :form="edit" :label-col="{ span: 4 }" :wrapper-col="{ span: 19 }">
        <a-form-item label="用户名">
          <a-input placeholder="请输入用户名"
            v-decorator="['username', { initialValue: drawer.current.username, rules: [{ required: true, message: '请输入用户名' }] }]"
            :disabled="drawer.disabled" />
        </a-form-item>
        <a-form-item label="姓名">
          <a-input placeholder="请输入姓名" v-decorator="['name', { initialValue: drawer.current.name }]" />
        </a-form-item>
        <a-form-item label="手机号">
          <a-input placeholder="请输入手机号" v-decorator="['phone', { initialValue: drawer.current.phone }]">
            <a-select slot="addonBefore" v-decorator="['prefix', { initialValue: '86' }]" style="width: 65px">
              <a-select-option value="86">+86</a-select-option>
            </a-select>
          </a-input>
        </a-form-item>
        <a-form-item label="年龄">
          <a-input-number placeholder="请输入年龄" v-decorator="['age', { initialValue: drawer.current.age }]" style="width: 100%;" :min="1"
            :max="120" @change="(v) => v + 1" />
        </a-form-item>
        <a-form-item label="生日">
          <a-date-picker placeholder="请选择日期" v-decorator="['birthday', { initialValue: drawer.current.birthday }]" style="width: 100%"
            valueFormat="YYYY-MM-DD" @change="(time, timeString) => this.drawer.current.birthday = timeString" />
        </a-form-item>
        <a-form-item label="性别">
          <a-radio-group v-decorator="['gender', { initialValue: drawer.current.gender }]" button-style="solid">
            <a-radio-button value="0">女</a-radio-button>
            <a-radio-button value="1">男</a-radio-button>
            <a-radio-button value="2">未知</a-radio-button>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="邮箱">
          <a-input placeholder="请输入邮箱" v-decorator="['email', { initialValue: drawer.current.email }]" />
        </a-form-item>
        <a-form-item label="地址">
          <a-input placeholder="请输入地址" v-decorator="['address', { initialValue: drawer.current.address }]" />
        </a-form-item>
        <a-form-item label="头像">
          <a-upload class="upload-c" list-type="picture-card" :file-list="fileList" @preview="uploadPreview"
            @change="uploadChange">
            <div v-if="fileList.length < 1">
              <a-icon type="plus" />
            </div>
          </a-upload>
          <a-modal :visible="previewVisible" :footer="null" @cancel="previewCancel">
            <img alt="example" style="width: 100%" :src="previewImage" />
          </a-modal>
        </a-form-item>
      </a-form>
      <div class="operation">
        <a-button style="margin-right: 8px" @click="handleCancel">取消</a-button>
        <a-button type="primary" @click="handleOk">保存</a-button>
      </div>
    </a-drawer>
  </div>
</template>
<script>
import { pageUser, editUser, addUser, deleteUser, deleteUserByIds } from '@/request/api'
import { message } from 'ant-design-vue';

export default {
  data() {
    return {
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      param: {},
      height: '',
      loading: false,
      selectedRowKeys: [],
      data: [],
      columns: [
        {
          title: '序号',
          align: 'left',
          width: 80, // 加了宽度，表头不会跟着内容动
          // scopedSlots: { customRender: 'num' }
          customRender: function(text, record, index) {
            return index + 1;
          }
        },
        {
          title: '用户名',
          dataIndex: 'username'

        },
        {
          title: '姓名',
          dataIndex: 'name'
        },
        {
          title: '年龄',
          dataIndex: 'age'
        },
        {
          title: '性别',
          dataIndex: 'gender',
          customRender: function(text, record, index) {
            const color = text == 0 ? 'red' : text == 1 ? 'blue' : 'cyan';
            const value = text == 0 ? '女' : text == 1 ? '男' : '未知';
            return <a-tag color={ color }>{ value }</a-tag>;
          }
        },
        {
          title: '头像',
          dataIndex: 'avatar',
          scopedSlots: { customRender: 'avatar' }
        },
        {
          title: '手机号',
          dataIndex: 'phone',
        },
        {
          title: '邮箱',
          dataIndex: 'email'
        },
        {
          title: '地址',
          dataIndex: 'address',
          ellipsis: true
        },
        {
          title: '操作',
          key: 'action',
          scopedSlots: { customRender: 'action' }
        }
      ],
      pagination: {
        size: 'large',
        current: 1,
        pageSize: 10,
        total: 0,
        pageSizeOptions: ['10', '20', '30'],//可选的页面显示条数
        showTotal: (total, range) => {
          return "共 " + total + " 条记录"
        }, //展示每页第几条至第几条和总数
        hideOnSinglePage: false, // 只有一页时是否隐藏分页器
        showQuickJumper: false, //是否可以快速跳转至某页
        showSizeChanger: true, //是否可以改变pageSize
      },

      // formItems: {
      //   username: {
      //     label: '用户名',
      //     decorator: 'username',
      //     placeholder: '请输入用户名',
      //     disabled: false,
      //     initialValue: this.drawer.current.username,
      //     rules: [
      //       { required: true, message: '请输入用户名' }
      //     ]
      //   }
      // },

      // 编辑相关
      edit: this.$form.createForm(this),
      drawer: {
        visible: false,
        title: '编辑用户',
        disabled: true,
        current: {}
      },

      // 上传相关
      previewVisible: false,
      previewImage: '',
      fileList: []
    };
  },
  mounted() {

    this.getList();

    // this.init();
  },
  beforeDestroy() {
    this.$destroy()
  },
  methods: {
    onDateChange(date, dateString) {
      this.param.startTime = dateString[0];
      this.param.endTime = dateString[1];
    },
    handleEndOpenChange(open) {
      this.endOpen = open;
    },
    handleSearch(e) {
      e.preventDefault();
      this.form.validateFields((error, values) => {
        if (!error) {
          Object.assign(this.param, values);

          this.getList();
        }
      });
    },

    handleReset() {
      this.form.resetFields();
    },

    add() {
      this.edit.resetFields();
      this.fileList = [];
      this.drawer.title = '新增用户';
      this.drawer.disabled = false;
      this.drawer.current = {};
      this.drawer.visible = true;
    },

    showConfirm() {
      if (!this.selectedRowKeys.length) {
        return message.warn('请选择一条记录');
      }
      const _this = this;
      this.$confirm({
        title: '确认删除吗?',
        content: '当你点击确认按钮时, 这个对话框将会在删除成功时关闭',
        onOk() {
          return new Promise((resolve, reject) => {
            setTimeout(() => _this.deletePatch(resolve, reject), 1000);
          }).catch(() => console.log('Oops errors!'));
        },
        onCancel() {},
      });
    },

    deletePatch(resolve, reject) {
      // 必须是data，后端用@RequestBody Long[]接收
      let param = { data: this.selectedRowKeys };
      deleteUserByIds(param).then(res => {
        resolve();
        this.getList();
      });
    },

    // 获取列表
    getList() {
      this.loading = true;
      pageUser({
        ...this.param,
        pageNum: this.pagination.current,
        pageSize: this.pagination.pageSize
      }).then(res => {
        this.data = res.data.records;
        this.pagination.total = res.data.total
      }).finally(() => {
        this.loading = false;
      });
    },

    // 表格改变时触发
    tableChange(pagination, filters, sorter) {
      this.pagination = pagination;
      // 修改了参数，但没有点查询直接切换分页？重新赋值 or 使用原来参数
      this.getList();
    },

    onSelectChange(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },

    setTableHeight() {
      let table = document.querySelector('.table');
      // 表格高度 - 分页高度 - 表头高度 + magrin-bootom(-6px)
      this.height = (table.offsetHeight - 64 - 52 + 6) + 'px';
    },

    init() {
      // let _this = this;
      // window.onresize = () => _this.setTableHeight();
    },

    showDetail(data) {
      this.$router.push({ 
        path: '/user/detail',
        query: { ...data }
      });
    },

    showEdit(data) {
      // 重置 -> 再赋值 -> 关闭并刷新
      this.edit.resetFields();

      if (data.avatar) {
        this.fileList = [{
          uid: 1,
          name: '头像',
          status: 'done',
          url: data.avatar
        }];
      }
      data.gender = data.gender.toString();
      this.drawer.current = { ...data };

      this.drawer.title = '编辑用户';
      this.drawer.disabled = true;
      this.drawer.visible = true;
    },
    showDelete(data) {
      deleteUser({ id: data.id }).then(res => this.getList());
    },
    handleOk(e) {
      this.edit.validateFields((error, values) => {
        if (!error) {
          values.url = this.fileList.length ? this.fileList[0].url : '';
          if (this.drawer.title == '编辑用户') {
            values.id = this.drawer.current.id;
            editUser(values).then(res => {
              this.drawer.visible = false;
              this.getList();
            })
          } else {
            addUser(values).then(res => {
              this.drawer.visible = false;
              this.getList();
            })
          }
        }
      });
    },
    handleCancel(e) {
      this.drawer.visible = false;
    },

    // 上传相关
    async uploadPreview(file) {
      if (!file.url && !file.preview) {
        file.preview = await this.getBase64(file.originFileObj);
      }
      this.previewImage = file.url || file.preview;
      this.previewVisible = true;
    },
    uploadChange({ fileList }) {
      this.fileList = fileList;
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      })
    },
    previewCancel() {
      this.previewVisible = false;
    }
  },
};
</script>
<style lang="scss" scoped>
$colors:
  rgb(192, 201, 138),
  rgb(138, 201, 180),
  rgb(201, 140, 138),
  rgb(199, 138, 201);

.common {
  padding: 24px;
  background: #fff;
  border-radius: 2px;
}

.layout {
  height: 100%;

  .search {
    margin-bottom: 12px;
  }

  .search-result-list {
    // height: calc(100% - 100px);

    .table-operations {
      margin-bottom: 12px;
    }

    .table-operations>button {
      margin-right: 8px;
    }

    .table {
      height: calc(100% - 44px);
      // background-color: rgb(239, 243, 243);

      @each $c in $colors {
        $i: index($colors, $c);        // 获取 $c 在数组中的索引，并赋值给 $i 赋值用冒号，不是等号~！
        .operation-item:nth-child(#{$i}) {     // 经典的地方来了，SCSS 循环是从 1 开始，不是 0 哦~
          color: $c;
        }
      }

      .operation-item {
        font-size: 14px;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 8px;
        }

        &:hover {
          
        }
      }

      :deep(.ant-table-body) {
        max-height: var(--test); // sccc应用js的变量
      }

      :deep(.ant-pagination.ant-table-pagination) {
        margin-bottom: 0 !important;
      }
    }
  }
}

.drawer {
  :deep(.ant-form-item) {
    margin-bottom: 12px;
  }


  .operation {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }
}

.upload-c {

  // 不生效？F12中变成了 .upload-c[data-v-347ddf2e]
  // ::v-deep .ant-upload.ant-upload-select.ant-upload-select-picture-card {
  //   width: 36px !important;
  //   height: 60px !important;
  // }
}

// ::v-deep .ant-upload-list-picture-card-container {
//   width: 60px;
//   height: 60px;
// }

// ::v-deep .ant-upload-list-item.ant-upload-list-item-list-type-picture-card {
//   width: 60px;
//   height: 60px;
// }

// // 图片宽高样式覆盖
// ::v-deep .ant-upload.ant-upload-select.ant-upload-select-picture-card {
//   width: 60px;
//   height: 60px;
// }</style>