<template>
  <div class="gutter-layout">
    <a-row :gutter="[12, 12]" class="gutter-row">
      <a-col class="gutter-col" :span="24">
        <div class="gutter-box header">
          <div class="left" @click="editAvatar">
            <a-avatar class="avatar" :size="78" icon="user" :src="user.avatar" />
            <div class="mask">
              <a-icon type="plus" style="font-size: 20px;" />
            </div>
            <div class="water">
              <span style="--i:1"></span>
              <span style="--i:2"></span>
              <span style="--i:3"></span>
            </div>
          </div>
          <div class="middle">
            <span class="user-name">
              {{ user.username }}
              <span class="user-level">Lv.{{ 6 }}</span>
            </span>
            <span class="user-id">通行证 ID: {{ user.id }}</span>
            <span class="user-sign">
              <a-icon class="user-sign-icon" type="experiment" theme="filled" />
              {{ user.signature }}
            </span>
          </div>
          <div class="right">
            <span class="item"><span class="count">0</span>粉丝</span>
            <span class="item"><span class="count">0</span>关注</span>
            <span class="item"><span class="count">0</span>获赞</span>
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[12, 12]" class="gutter-row">
      <a-col class="gutter-col" :xs="12" :sm="10" :md="8" :lg="6" :xl="4">
        <div class="gutter-box">
          <a-card title="个人中心" :bordered="false">
            <template v-for="(item, index) in operation">
              <div :class="['account', item.selected ? 'selected' : '']" :key="'a-' + index" @click="tabClick(index)">
                <div class="operate" :tabindex="index">
                  <a-icon class="operate-icon" :type="item.icon" theme="filled" />
                  <span class="operate-name">{{ item.name }}</span>
                </div>
              </div>
              <a-divider :key="'b-' + index" v-if="item.needDivider" />
            </template>
          </a-card>
        </div>
      </a-col>
      <a-col class="gutter-row" :xs="12" :sm="14" :md="16" :lg="18" :xl="20">
        <div class="gutter-box">
          <a-card v-if="current.name === '个人资料'" title="个人资料" :bordered="false">
            <a-descriptions title="" size="middle" :column="9" bordered>
              <a-descriptions-item :span="9">{{ user.id }}
                <span slot="label">
                  <a-icon type="user" style="margin-right: 5px;" />用户ID
                </span>
              </a-descriptions-item>
              <a-descriptions-item label="用户名" :span="9">{{ user.username }}</a-descriptions-item>
              <a-descriptions-item label="姓名" :span="9">{{ user.name }}</a-descriptions-item>
              <a-descriptions-item label="手机号" :span="9">{{ user.phone }}</a-descriptions-item>
              <a-descriptions-item label="年龄" :span="3">{{ user.age }}</a-descriptions-item>
              <a-descriptions-item label="生日" :span="3">{{ user.birthday }}</a-descriptions-item>
              <a-descriptions-item label="性别" :span="3">{{ user.gender == 0 ? '女' : '男' }}</a-descriptions-item>
              <a-descriptions-item label="邮箱" :span="3">{{ user.email }}</a-descriptions-item>
              <a-descriptions-item label="地址" :span="3">{{ user.address }}</a-descriptions-item>
              <a-descriptions-item label="签名">{{ user.signature }}</a-descriptions-item>
            </a-descriptions>
            <a slot="extra" type="primary" @click="editUser">编辑</a>
          </a-card>
        </div>
      </a-col>
    </a-row>

    <a-modal :title="modal.title" :width="750" :visible="modal.visible" :confirm-loading="modal.confirmLoading"
      ok-text="保存" @ok="handleOk" @cancel="handleCancel">
      <a-form :form="edit" class="ant-modal-form">
        <a-row :gutter="24">
          <a-col :span="11" :offset="1">
            <a-form-item label="">
              <a-input v-decorator="[`username`, { initialValue: user.username }]" disabled>
                <div slot="addonBefore">用户名</div>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="11">
            <a-form-item label="">
              <a-input placeholder="请输入姓名"
                v-decorator="[`name`, { initialValue: user.name, rules: [{ required: true, message: '请输入姓名' }] }]">
                <div slot="addonBefore">姓名</div>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="11" :offset="1">
            <a-form-item label="">
              <a-input placeholder="请输入手机号"
                v-decorator="['phone', { initialValue: user.phone, rules: [{ required: true, message: '请输入手机号' }] }]">
                <div slot="addonBefore">
                  <span style="margin-right: 5px;">手机号</span>
                  <a-select v-decorator="['prefix', { initialValue: '86' }]" style="width: 65px">
                    <a-select-option value="86">+86</a-select-option>
                    <a-select-option value="87">+87</a-select-option>
                  </a-select>
                </div>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="11">
            <a-form-item label="">
              <a-input-group compact>
                <a-input style="width: 52px;" placeholder="年龄" disabled />
                <a-input-number style="width: calc(100% - 52px);" placeholder="请输入年龄"
                  v-decorator="['age', { initialValue: user.age }]" :min="1" :max="120" @change="(v) => v + 1">
                </a-input-number>
              </a-input-group>
            </a-form-item>
          </a-col>
          <a-col :span="11" :offset="1">
            <a-form-item label="">
              <a-input-group compact>
                <a-input style="width: 52px;" placeholder="生日" disabled />
                <a-date-picker style="width: calc(100% - 52px);" placeholder="请选择日期"
                  v-decorator="['birthday', { initialValue: user.birthday }]" valueFormat="YYYY-MM-DD"/>
              </a-input-group>
            </a-form-item>
          </a-col>
          <a-col :span="11">
            <a-form-item label="">
              <a-input-group compact>
                <a-input style="width: 52px;" placeholder="性别" disabled />
                <a-radio-group v-decorator="['gender', { initialValue: user.gender }]" button-style="solid">
                  <a-radio-button value="1">男</a-radio-button>
                  <a-radio-button value="0">女</a-radio-button>
                </a-radio-group>
              </a-input-group>
            </a-form-item>
          </a-col>
          <a-col :span="11" :offset="1">
            <a-form-item label="">
              <a-input placeholder="请输入邮箱" v-decorator="['email', { initialValue: user.email }]">
                <div slot="addonBefore">邮箱</div>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="11">
            <a-form-item label="">
              <a-input placeholder="请输入地址" v-decorator="['address', { initialValue: user.address }]">
                <div slot="addonBefore">地址</div>
              </a-input>
            </a-form-item>
          </a-col>
          <a-col :span="22" :offset="1">
            <a-form-item label="">
              <a-input placeholder="请输入签名" v-decorator="['signature', { initialValue: user.signature }]">
                <div slot="addonBefore">签名</div>
              </a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </a-modal>


    <a-modal title="上传头像" :visible="visible" :footer="null" :width="700" @cancel="cancelAvatar">
      <avatar @cutDown="cutDown" @cancel="cancel"></avatar>
    </a-modal>
  </div>
</template>

<script>
import Avatar from '@/components/Avatar'
import { getUserById } from '@/request/api'
import auth from '@/utils/auth'

export default {
  components: { Avatar },
  data() {
    return {
      user: this.$route.query,
      current: {
        id: 1,
        name: '个人资料',
        icon: 'idcard'
      },
      operation: [
        {
          id: 1,
          name: '个人资料',
          icon: 'credit-card',
          selected: true
        },
        {
          id: 2,
          name: '我的发帖',
          icon: 'skin'
        },
        {
          id: 3,
          name: '我的评论',
          icon: 'aliwangwang',
          needDivider: true
        },
        {
          id: 4,
          name: '我的收藏',
          icon: 'heart'
        },
        {
          id: 5,
          name: '我的关注',
          icon: 'layout'
        },
        {
          id: 6,
          name: '我的粉丝',
          icon: 'gift'
        }
      ],
      visible: false,

      edit: this.$form.createForm(this),
      modal: {
        title: '编辑',
        visible: false,
        confirmLoading: false
      }
    };
  },

  watch: {
    /**
     * 跳转同一个路由不刷新
     * https://blog.csdn.net/Anlittlecat/article/details/128324554
     */
    $route: {
      immediate: true,
      handler: function (route) {
        this.user = {};
        let query = JSON.parse(JSON.stringify(route.query));
        if (Object.keys(query).length) {
          this.user = { ...query }
        } else {
          let info = JSON.parse(auth.getUser());
          getUserById({ id: info.id }).then(res => this.user = res.data);
        }
      }
    }
  },
  mounted() {
  },
  beforeDestroy() {
    this.$destroy()
  },
  methods: {
    tabClick(index) {
      this.operation.forEach(e => e.selected ? e.selected = false : null);
      this.operation[index].selected = true;
      this.current = this.operation[index];
    },
    editAvatar() {
      this.visible = true;
    },
    cancelAvatar() {
      this.visible = false;
    },
    cutDown(res) {
      debugger
    },
    cancel() { },
    editUser() {
      this.modal.visible = true;
    },
    handleOk(e) {
      this.modal.confirmLoading = true;
      setTimeout(() => {
        

        this.edit.validateFields((error, values) => {
          if (!error) {
            this.modal.visible = false;
            this.modal.confirmLoading = false;
          }
        });
      }, 1000);
    },
    handleCancel(e) {
      this.modal.visible = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.gutter-layout {

  .gutter-box {
    background: #fff;
    border-radius: 2px;
  }
}

.header {
  padding: 24px;

  display: flex;
  justify-content: left;
  align-items: center;

  .left {
    // padding: 4px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 43px;
    cursor: pointer;

    position: relative;

    &:hover .mask {
      opacity: 0.68;
    }

    &:hover .water span {
      z-index: 1;
    }

    .avatar {
      margin: 4px;
      z-index: 2; //盖住扩散动画
    }

    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 43px;
      top: 0;
      z-index: 3; // 遮罩(mask) 高于 头像(avatar) 高于 水纹(water)

      background: #83d1f0;
      opacity: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .water {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 43px;
      top: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: absolute;
        box-sizing: border-box;
        border: none;
        z-index: -1; // water(默认0)  span 正常-低于water，看不见 悬浮-高于water
        background: rgba(109, 211, 236, 0.4);
        border-radius: 50%;
        animation: animate 3s linear infinite;
        animation-delay: calc(0.5s * var(--i))
      }
    }

    @keyframes animate {
      0% {
        width: 0px;
        height: 0px;
      }

      50% {
        opacity: 1;
      }

      100% {
        width: 120px;
        height: 120px;
        opacity: 0;
      }
    }
  }

  /**
   * 元素排列方式
   * https://juejin.cn/post/6844904098777710599
   * https://blog.csdn.net/mouday/article/details/120996653
   */
  .middle {
    margin-left: 12px;

    display: flex;
    flex-direction: column;

    .user-name {
      // white-space: nowrap;
      // overflow: hidden;
      // width: 200px;
      // text-overflow: ellipsis;
      // line-height: 32px!important;
      font-size: 15px;
      color: #333;
      font-weight: 500;
    }

    .user-level {
      background-color: rgb(76, 195, 255);
      padding: 1px 3px;
      color: #fff;
      font-size: 12px;
      border-radius: 2px;
      vertical-align: text-top;
    }

    .user-id {
      margin-top: 1px;
      color: rgb(204, 208, 219);
      font-size: 8px;
    }

    .user-sign {
      margin-top: 5px;
      color: rgb(153, 153, 153);
      font-size: 12px;

      .user-sign-icon {
        margin-right: 2px;
        color: rgb(251, 113, 153);
        vertical-align: text-top;
      }
    }
  }

  .right {
    margin-left: auto; // 靠右

    .item {
      margin-right: 30px;
      color: rgb(204, 208, 219);
      font-size: 14px;

      .count {
        margin-right: 10px;
        color: #7a7878;
        font-size: 18px;
      }
    }
  }
}

.selected {
  & .operate-icon {
    color: rgb(76, 195, 255) !important;
  }

  & .operate-name {
    color: rgb(76, 195, 255) !important;
  }
}

.account {
  padding: 0 15px;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  .operate {
    cursor: pointer;

    // &:focus {
    //   .operate-icon {
    //     color: rgb(76, 195, 255);
    //   }

    //   .operate-name {
    //     color: rgb(76, 195, 255);
    //   }
    // }

    .operate-icon {
      color: rgb(217, 217, 217);
      font-size: 18px;
      vertical-align: text-bottom;
    }

    .operate-name {
      margin-left: 16px;
      color: rgb(131, 131, 131);
      font-size: 16px;
    }
  }
}

.ant-modal-form {

  // 加了v-deep才生效
  // ::v-deep .ant-form-item {
  //   display: flex;
  // }

  // ::v-deep .ant-form-item-control-wrapper {
  //   flex: 1;
  // }

  // ::v-deep .ant-form-item {
  //   margin-bottom: 12px;
  // }
}
</style>