<template>
  <div id="box" class="box">
    <ImgCutter ref="imgCutterModal" label="选择本地图片" fileType="jpeg" :crossOrigin="true" crossOriginHeader="*" rate="1:1"
      toolBgc="none" :isModal="false" :showChooseBtn="true" :lockScroll="true" :boxWidth="652" :boxHeight="320"
      :cutWidth="180" :cutHeight="180" :sizeChange="true" :moveAble="true" :imgMove="true" :originalGraph="false"
      WatermarkText="vue-img-cutter" WatermarkTextFont="12px Sans-serif" WatermarkTextColor="#00ff00"
      :WatermarkTextX="0.95" :WatermarkTextY="0.95" :smallToUpload="true" :saveCutPosition="true" :scaleAble="true"
      :previewMode="true" :quality="1" :toolBoxOverflow="true" :index="1" @cutDown="cutDown">

      <a-button slot="open" type="primary">上传</a-button>
      <a-button slot="choose" icon="cloud" type="primary"></a-button>
      <a-button slot="cancel" style="margin-right: 5px;" @click="cancel">重置</a-button>
      <a-button style="margin-right: 5px;" @click="cancel">案说法伽是否</a-button>
      <a-button slot="confirm" type="primary">确定</a-button>
    </ImgCutter>
  </div>
</template>
  
<script>
// https://blog.csdn.net/weixin_46115860/article/details/107430614
// https://juejin.cn/post/6911233564998631438
import ImgCutter from 'vue-img-cutter';
export default {
  components: { ImgCutter },
  name: 'Avatar',
  data() {
    return {

    }
  },
  mounted() {
  },
  methods: {
    cutDown(res) {
      this.$emit('cutDown', res);
    },
    cancel() {
      this.$emit('cancel');
    }
  }

}
</script>
  
<style lang="scss" scoped>

:deep(.i-dialog-footer) {
  margin-bottom: 0px;
}
</style>  