<template>
  <div class="tab" ref="tab" :style="style" :settings="settings">
    <ul class="tool">
      <li class="t-li" :class="{'notaction': !actionable}" @click="left">
        <a-icon class="icon arrow" type="left"/>
      </li>
      <li class="t-li" :class="home.class" @click="select(-1)">
        <a-icon class="icon" type="home"/>
      </li>
      <li class="t-li outer">
        <ul class="menus inner">
          <li class="menu" v-for="(item, index) in menu" :key="index" :class="change(item)" :tabindex="index"
            @click="select(index, $event)">
            <span class="name">{{ item.name }}</span>
            <a-icon class="close" type="close" @click.stop="close(index)" />
          </li>
          <!-- 下划线跟随 -->
          <div class="follow" ref="followTab"></div>
        </ul>
      </li>
      <li class="t-li" :class="{'notaction': !actionable}" @click="right">
        <a-icon class="icon arrow" type="right"/>
      </li>
      <li class="t-li">
        <a-icon class="icon arrow" type="down"/>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MenuTabTest',
  // props方式定义父组件传过来的值，可以是数组、对象
  props: {
    settings: {
      type: Object,
      default: () => {
        return {
          height: 0
        }
      }
    }
  },
  data() {
    return {
      actionable: false,
      home: {
        url: '/',
        class: ''
      },
      menu: []
    }
  },
  methods: {
    change(item) {
      return item.selected ? 'selected' : '';
    },
    select(index, $event) {
      if (index == -1) {
        this.menu.forEach(e => e.selected = false);
        this.home.class = 'selected';
        this.jump(-1);
      } else {
        this.menu.forEach(e => e.selected = false);
        this.menu[index].selected = true;
        this.jump(index);
      }

      this.setFollowStyle($event);
    },
    close(index) {
      if (this.menu[index].selected) {
        this.menu.splice(index, 1);
        if (this.menu.length) {
          index = index - 1 < 0 ? 0 : index - 1;
          this.menu[index].selected = true;

          this.jump(index);
        } else {
          this.menu.forEach(e => e.selected = false);
          this.home.class = 'selected';
          this.jump(-1);
        }
      } else {
        this.menu.splice(index, 1);
      }

      // 是否溢出回调
      this.isOverCallBack();
    },
    left() {
      let inner = document.querySelector('.inner');
      if (this.actionable) {
        inner.scrollLeft = 0;
      }
    },
    right() {
      let outer = document.querySelector('.outer');
      let inner = document.querySelector('.inner');
      if (this.actionable) {
        inner.scrollLeft = inner.scrollWidth + 1 - outer.offsetWidth;
      }
    },

    /**
     * dom渲染完后回调
     */
    isOverCallBack() {
      this.$nextTick(() => this.actionable = this.isOver());
    },

    /**
     * 判断元素是否溢出
     * offsetWidth：包括边框，内外边距的总宽度
     */
    isOver() {
      let outer = document.querySelector('.outer');
      let inner = document.querySelector('.inner');
      return inner.scrollWidth > outer.clientWidth;
    },

    /**
     * 实时获取元素宽度(不包括边距)
     */
    setFollowStyle(e) {
      let width = e.currentTarget.offsetWidth;
      let left = e.currentTarget.offsetLeft;
      this.$refs['followTab'].style.width = width + 'px';
      this.$refs['followTab'].style.left = left + 'px';
    },

    /**
     * 父组件事件
     */
     jump(index) {
      if (index == -1) {
        this.$emit('jump', { path: '/' });
      } else {
        this.$emit('jump', this.menu[index]);
      }
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler: function (route) {
        if (this.home.url === route.path) {
          this.menu.forEach(e => e.selected = false);
          this.home.class = 'selected';
          this.jump(-1);
        } else {
          this.home.class = '';

          // fullPath与path的区别
          let info = { 
            name: route.meta.title, 
            path: route.path,
            selected: true,
            query: { ...route.query }
          };
          this.menu.forEach(e => e.selected = false);
          let index = this.menu.findIndex(e => route.path === e.path);
          if (index === -1) {
            this.menu.push(info);
          } else {
            this.menu[index].selected = true;
          }
        }

        // 判断时候超出
        this.isOverCallBack();
      }
    }
  },
  computed: {
    // 两种方式定义变量：props、comoputed; 任选一种
    style() {
      return {
        // 赋值为父组件传过来的值，会覆盖默认的值
        '--height': this.settings.height + 'px',
        // 默认正方形，width暂时没用
        '--width': this.settings.height + 'px'
      };
    }
  },
  mounted() {
    this.actionable = this.isOver();

    // 写在mounted()钩子函数中
    window.onresize = () => {
      return (() => {
        this.actionable = this.isOver();
      })()
    }
  }
}
</script>

<style lang="scss" scoped>
.selected {
  position: relative;
  color: #1890ff !important;
  background: #d3eefa;

  // 伪类横条
  // &::after {
  //   content: '';
  //   position: absolute;
  //   display: inline-block;
  //   width: calc(100% + 2px);
  //   height: 2px;
  //   left: -1px;
  //   top: calc(100% - 2px);
  //   background-color: #1890ff;
  // }

  .icon {
    color: #1890ff !important;
  }
}
.tab {
  width: 100%;
  height: var(--height);
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  z-index: 10; // 低于.header

  .tool {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;

    display: flex;
    justify-content: left;


    .inner {
      // https://www.cnblogs.com/shiazhen/p/12937509.html
      // 使scrollLeft动画变得平滑
      scroll-behavior: smooth;
    }

    .notaction {
      cursor: no-drop !important;
    }

    .t-li {
      height: 100%;
      float: left;
      line-height: calc(var(--height) + 1px);
      text-align: center;
      border-left: 0.25px solid rgba(230, 230, 230, 0.541);
      
      // flex布局如何：父元素加了flex如何使子元素不左右对齐？
      // display: flex;
      // justify-content: center;
      // align-items: center;

      &:not(:nth-child(3)) {
        width: var(--width);
      }

      &:nth-child(3) {
        width: calc(100% - (4*var(--width) + 5*0.25px));
        // overflow: hidden; // 不能加在这里，不能滚动
      }

      &:hover {
        cursor: pointer;
      }

      .icon {
        font-size: 14px;
        color: #525555c9;
      }
      .arrow {
        font-size: 10px !important;
        color: #6f7070c9;
      }

      .menus {
        height: 100%;
        line-height: normal;
        margin: 0;
        padding: 0 1px;
        overflow: hidden; // 
        list-style: none;
        background-color: #fff;
        user-select: none;

        position: relative; // 给下划线提供定位

        display: flex;
        justify-content: left;
        align-items: center;

        .follow {
          width: auto; // 需要动态赋值
          height: 90%;
          background-color:rgba(6, 149, 245, 0.2);
          border-radius: 1px;
          transition: all .8s ease 0s;

          top: calc((100% - 90%)/2); // 根据li来算位置
          position: absolute; // 绝对定位
          z-index: 0; // 位于li下方，防止遮挡(无法触发点击事件)
        }

        li {
          height: 90%;
          padding: 0 10px;
          margin-right: 2px;
          color: #7c7c7c;
          border-radius: 1px;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12); // 0.08~0.12
          float: left;
          cursor: pointer;

          position: relative; // 必须要设置，否则会被遮罩(absolute)遮挡
          z-index: 1; // 位于遮罩上方

          // https://blog.csdn.net/weixin_42678675/article/details/120952254
          flex-shrink: 0;

          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            // background-color: rgb(158, 242, 248);
          }

          .name {
            min-width: 40px;
            margin-right: 5px;
          }

          .close {
            font-size: 10px;

            &:hover {
              color: rgb(14, 158, 158);
            }
          }
        }
      }
    }
  }
}
</style>