<template>
  <div class="menu-tab" ref="selfTab">
    <div class="self-tab" v-show="show">

      <div class="self-tab-div">
        <ul class="tool-tab-ul">
          <li class="tool-tab-li" v-for="(item, index) in tool.left.data" :key="index" :tabindex="index"
            v-show="item.status" @click="menuTabScroll(item)">
            <a-icon :type="item.icon" />
          </li>
        </ul>
      </div>

      <div class="self-tab-div self-tab-menu" :style="{ maxWidth: 'calc(100% - ' + width + 'px)' }">
        <ul class="self-tab-ul">
          <li class="self-tab-li" v-for="(item, index) in menuList" :key="index" :class="menuTabClassChange(item)"
            :tabindex="index" @click="menuTabSelect(index, $event)"
            @contextmenu.prevent="menuTabRightClick(index, $event)">
            <span class="self-tab-name">{{ item.name }}</span>
            <a-icon class="self-tab-close" type="close" v-if="index != 0" @click.stop="menuTabClose(index, $event)" />
          </li>
        </ul>
      </div>

      <div class="self-tab-div tool-tab-right">
        <ul class="tool-tab-ul">
          <li class="tool-tab-li" v-for="(item, index) in tool.right.data" :key="index" :tabindex="index"
            v-show="item.status" @click="menuTabScroll(item)">
            <a-icon :type="item.icon" />
          </li>
          <li class="tool-tab-li" tabindex="1" @click="menuHide">
            <my-icon type="icon-jiantou_liebiaoshouqi_o" class="tool-up" />
          </li>
        </ul>
      </div>
    </div>

    <div>
      <ul v-show="contextmenu.visible" :style="{ left: contextmenu.left + 'px', top: contextmenu.top + 'px' }"
        class="contextmenu">
        <li @click="menuTabRightSelect(1)">关闭左侧</li>
        <li @click="menuTabRightSelect(2)">关闭右侧</li>
      </ul>
    </div>

    <div class="menu-down" v-show="!show" tabindex="0" @click="menuShow">
      <my-icon type="icon-jiantou_liebiaozhankai_o" class="tool-up" />
    </div>
  </div>
</template>

<script>
import router from '../router';

/**
 * 1. 添加右键菜单，
 * 2. 显示隐藏菜单
 * 3. 可拖动
 */
export default {
  name: 'MenuTab',
  components: { router },
  data() {
    return {
      show: true,
      width: 34,
      current: 0,
      menuList: [],
      contextmenu: {
        visible: false,
        left: 0,
        top: 0,
        selected: 0
      },
      tool: {
        isOver: false,
        left: {
          data: [
            {
              status: false,
              icon: 'left',
              desc: '左移'
            }
          ]
        },
        right: {
          data: [
            {
              status: false,
              icon: 'right',
              desc: '右移'
            }
          ]
        }
      }
    }
  },
  methods: {

    /**
     * 样式设置
     * @param {*} item 
     */
    menuTabClassChange(item) {
      return item.selected ? 'selected' : '';
    },

    /**
     * 菜单标签选中
     * @param {*} index 
     * @param {*} $event 
     */
    menuTabSelect(index, $event) {
      this.current = index;
      this.menuList.forEach(e => e.selected = false);
      this.menuList[index].selected = true;
      this.triggerParentEvent(index);
    },

    /**
     * 菜单标签关闭
     * @param {*} index 
     * @param {*} $event 
     */
    menuTabClose(index, $event) {
      this.menuList.splice(index, 1);
      if (this.menuList.length) {
        let showIndex = this.menuList.length - 1;
        this.current = showIndex;

        this.menuList[showIndex].selected = true;
        this.triggerParentEvent(showIndex);
      }
    },

    /**
     * 右键菜单
     * @param {*} index 
     * @param {*} $event 
     */
    menuTabRightClick(index, $event) {
      this.contextmenu.left = $event.pageX;
      this.contextmenu.top = $event.pageY;
      this.contextmenu.visible = true;
      this.contextmenu.selected = index;
    },

    /**
     * 右键菜单关闭
     */
    menuTabRightClose() {
      this.contextmenu.visible = false;
    },

    /**
     * 右键菜单选择
     * @param {*} type 
     */
    menuTabRightSelect(type) {
      if (type === 1) {
        this.menuList = this.menuList.filter((e, i) => i == 0 || i >= this.contextmenu.selected);
      } else if (type === 2) {
        this.menuList = this.menuList.filter((e, i) => i == 0 || i <= this.contextmenu.selected);
      }
      let index = this.menuList.findIndex(e => e.selected === true);
      if (index === -1) {
        this.current = 0;
        this.menuList[0].selected = true;
        this.triggerParentEvent(0);
      } else {
        this.current = index;
        this.menuList[index].selected = true;
        this.triggerParentEvent(index);
      }
    },

    /**
     * 父组件事件
     * @param {*} index 
     */
    triggerParentEvent(index) {
      this.$emit('menuTabClick', this.menuList[index]);
    },

    menuHide() {
      this.show = false;
    },

    menuShow() {
      this.show = true;
    },

    menuLeft() {

    },

    menuRight() {

    },

    /**
     * 
     * @param {*} item 
     */
    menuTabScroll(item) {
      let scrollLeft = this.$refs['selfTab'].querySelector('.self-tab-menu').scrollLeft;
      if (item.desc === '左移') {
        this.$refs['selfTab'].querySelector('.self-tab-menu').scrollLeft = scrollLeft - 10;
      }
      if (item.desc === '右移') {
        this.$refs['selfTab'].querySelector('.self-tab-menu').scrollLeft = scrollLeft + 10;
      }
    }
  },
  watch: {
    '$route.path': function (to, from) {
      console.log("[路由变化]：[from:" + from + "]=>" + "[to:" + to + "]");
    },

    /**
     * 监听路有变化实现tab标签
     */
    $route: {
      immediate: true, // 初始化时,就调用一次handler函数
      handler: function (route) {
        // ,隔开可避免打印出来的是：[Object object]
        // console.log('[router]:', route);

        // undefined
        // console.log('[selfTab]:', this.$refs.selfTab);

        this.$nextTick(() => {
          // 有值了
          // console.log('[render end selfTab]:', this.$refs.selfTab);

          if (route.meta && route.meta.title && 'menu' === route.meta.type) {
            // 如浏览器直接以子菜单路径打访问，菜单tab会自动把首页带上
            if (this.menuList.length === 0 && '/' != route.fullPath) {
              let menu = { name: '首页', selected: false, path: '/' };
              this.menuList.push(menu);
            }
            this.menuList.forEach(e => e.selected = false);
            let menu = { name: route.meta.title, selected: true, path: route.fullPath };
            let index = this.menuList.findIndex(e => route.path === e.path || route.meta.title === e.name);
            if (index === -1) {
              this.current = this.menuList.length - 1;
              this.menuList.push(menu);
            } else {
              this.current = index;
              this.menuList[index].selected = true;
            }
          }

          // 第一次长度怎么是:900px?
          // let width = window.getComputedStyle(this.$refs['selfTab']).width;
          // console.log('[render end width]:', width);

          // 加了延时后才获取到正确宽度
          setTimeout(() => {
            let totalWidth = document.querySelector('.menu-tab').offsetWidth;
            let menuTabWidth = document.querySelector('.self-tab-menu').scrollWidth;
            let diff = totalWidth - this.width - menuTabWidth;
            if (diff < 0) {
              this.isOver = true;
              this.width = 34 * 3;

              let leftArrow = this.tool.left.data.filter(e => e.desc === '左移');
              let rightArrow = this.tool.right.data.filter(e => e.desc === '右移');
              if (leftArrow && leftArrow.length > 0) {
                leftArrow[0].status = true;
              }
              if (rightArrow && rightArrow.length > 0) {
                rightArrow[0].status = true;
              }
            }
          }, 0);
        });
      }
    },

    /**
     * 监听visible值的变化
     * @param {*} value 
     */
    'contextmenu.visible': function (value) {
      if (value) {
        document.body.addEventListener('click', this.menuTabRightClose);
      } else {
        document.body.removeEventListener('click', this.menuTabRightClose);
      }
    }
  },

  mounted() {
    window.onresize = () => {

      let totalWidth = document.querySelector('.menu-tab').offsetWidth;
      let menuTabWidth = document.querySelector('.self-tab-menu').scrollWidth;
      let diff = totalWidth - this.width - menuTabWidth;

      console.log("totalWidth: ", totalWidth);
      console.log("menuTabWidth: ", menuTabWidth);
      console.log("this.width: ", this.width);
      console.log("diff: ", diff);

      if (diff < 0) {
        this.isOver = true;
        this.width = 34 * 3;

        let leftArrow = this.tool.left.data.filter(e => e.desc === '左移');
        let rightArrow = this.tool.right.data.filter(e => e.desc === '右移');
        if (leftArrow && leftArrow.length > 0) {
          leftArrow[0].status = true;
        }
        if (rightArrow && rightArrow.length > 0) {
          rightArrow[0].status = true;
        }
      } else {
        if (this.isOver) {
          this.isOver = false;
          this.width = 34;

          let leftArrow = this.tool.left.data.filter(e => e.desc === '左移');
          let rightArrow = this.tool.right.data.filter(e => e.desc === '右移');
          if (leftArrow && leftArrow.length > 0) {
            leftArrow[0].status = false;
          }
          if (rightArrow && rightArrow.length > 0) {
            rightArrow[0].status = false;
          }
        }
      }

    };
  }
}
</script>

<style lang="scss" scoped>
.menu-tab {
  width: 100%;
  z-index: 999;
  position: relative;

  .self-tab {
    position: relative;
    width: 100%;
    height: 34px;
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    box-shadow: 1px 2px 2px rgba(138, 138, 138, 0.1); // 边框阴影

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .self-tab-div {
      height: 100%;

      .tool-tab-ul {
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        list-style: none;
        background-color: #fff;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -o-user-select: none;
        user-select: none;

        display: flex;
        justify-content: center;
        align-items: center;

        .tool-tab-li {
          width: 34px;
          height: 100%;
          position: relative; // 给关闭图标提供位置
          cursor: pointer;
          color: #a7a4a4;

          display: flex;
          justify-content: center; // 水平居中
          align-items: center; // 上下居中

          &:hover {
            color: #1890ff;
          }

          &:active {
            color: #1890ff;
          }

          // 自定义图标组件不能设置颜色?
          .tool-up {
            font-size: 25px;
            opacity: 0.5;

            &:hover {
              opacity: 0.8;
              transition: opacity .5s;
            }
          }

          // 伪类实现箭头
          // .tool-up::after {
          //   content: "";
          //   width: 8px;
          //   height: 8px;
          //   border:  solid #a7a4a4;
          //   border-width: 1px 0 0 1px;
          //   transform: translate(-50%, -50%) rotate(45deg);
          //   position: absolute;
          // }
        }
      }

      .self-tab-ul {
        width: auto;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 0;
        list-style: none;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -o-user-select: none;
        user-select: none;

        display: flex;
        justify-content: left;
        align-items: center;

        .self-tab-li {
          width: auto;
          height: 100%;
          white-space: nowrap;
          /* 内容超出不换行 */
          padding: 0 22px;
          margin-right: 2px;
          background-color: #ffffff;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px;
          cursor: pointer;
          position: relative; // 给关闭图标提供位置
          transition: all 0.5s linear 0s; // all 所有的属性效果：缓慢执行

          display: flex;
          justify-content: space-between;
          align-items: center;

          /**
         * 这里应该用active模拟点击事件，不应该用focus
         * 鼠标放上面按住不松开拖动鼠标离开元素放开鼠标发现效果不消失
         */
          &:active {
            color: #1890ff;
            background: #E6F7FF;
          }

          &:active .self-tab-close {
            display: block;
          }


          &:hover {
            background-color: #E6F7FF;

            .self-tab-name {
              color: #1890ff;
            }

            .self-tab-close {
              display: block;
              color: #1890ff;
            }

            // 悬浮长度改为100%
            &::after {
              width: 100%;
            }
          }

          /*
        * 动画
        * 1.先定义伪类::after
        * 2.宽度先设置为0，
        * 3.transition指定要变化的属性
        * 4.在触发动作后修改::after的宽度
        */
          &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 0;
            height: 2px;
            left: 50%;
            top: calc(100% - 2px);
            background-color: #1890ff;
            // 变形；left: 50%从中间开始向两边，left:0从最左边开始
            transform: translate(-50%);
            transition: width .5s;
            // animation-name: toradius; // 指定动画名
            // animation-duration: 1s;
          }

          /**
       * 动画
       */
          @keyframes toradius {
            from {
              width: 0;
            }

            to {
              width: 100%;
            }
          }

          .self-tab-name {
            text-align: center;
            width: 100%;
            color: #727272;
          }

          .self-tab-close {
            display: none;
            font-size: 10px;
            position: absolute;
            right: 6px;
            padding: 1px;
            border-radius: 2px;

            &:hover {
              color: white;
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }

        // 选中的样式
        .selected {
          color: #1890ff;
          background: #E6F7FF;

          &::after {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 2px;
            left: 50%;
            top: calc(100% - 2px);
            background-color: #1890ff;
          }

          & .self-tab-name {
            color: #1890ff;
          }
        }
      }
    }

    .self-tab-menu {
      // max-width: calc(100% - 96px);
      overflow-x: scroll;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .tool-tab-right {
      // flex布局：2左1右
      margin-left: auto;

      z-index: 1;
      background-color: #fff;
    }
  }

  /**
     * fixed: 相对于浏览器定位
     * absoluted: 相对第一个带有position属性的父级元素定位；此时用pageX偏离较远
     */
  .contextmenu {
    position: fixed;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 2px 0;
    border-radius: 4px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;

    li {
      min-width: 50px;
      min-height: 25px;
      line-height: 25px;
      font-size: 13px;
      letter-spacing: 1px; // 字符间距
      text-align: center;
      margin: 0;
      padding: 2px 12px;

      &:hover {
        background-color: #E6F7FF;
        color: #33b3ee;
      }
    }
  }

  .menu-down {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    font-size: 25px;
    top: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity 1s ease-in; // 透明度渐变

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
</style>