<template>
  <div class="nav-tab" :style="style" :settings="settings">
    <ul class="nav-tab-tool">
      <li class="nav-tab-tool-li nav-tab-action" :class="{'notaction': !isOperate}" @click="left">
        <a-icon type="left"/>
      </li>
      <li class="nav-tab-tool-li nav-tab-home" :class="{'active': currentIndex == 0}" @click="select(0)">
        <a-icon type="home"/>
      </li>
      <li class="nav-tab-tool-li outer">
        <ul class="nav-tab-menus inner">
          <li v-for="(item, index) in menus.slice(1, menus.length)" :key="index + 1" 
            :ref="'ref_' + item.path"
            :class="[item.active ? activeType ? 'active-' + activeType : 'active' : '']"
            @click="select((index + 1), $event)">
            <span>{{ item.name }}</span>
            <a-icon type="close" @click.stop="close(index + 1)" />
          </li>
          <div class="nav-tab-follow" ref="navTabFollow"></div>
        </ul>
      </li>
      <li class="nav-tab-tool-li nav-tab-action" :class="{'notaction': !isOperate}" @click="right">
        <a-icon type="right"/>
      </li>
      <li class="nav-tab-tool-li nav-tab-action">
        <a-icon type="down"/>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'NavTab',
  // props方式定义父组件传过来的值，可以是数组、对象
  props: {
    settings: {
      type: Object,
      default: () => {
        return null
      }
    }
  },
  data() {
    return {
      source: 0,
      isOperate: false,
      activeType: 'default',
      homeUrl: '/',
      currentIndex: -1,
      menus: []
    }
  },
  methods: {
    select(index, $event) {
      this.source = 1;
      this.currentIndex = index;
    },
    close(index) {
      this.source = 1;

      let old = this.menus[this.currentIndex];

      this.menus.splice(index, 1);
      let nowIndex = this.menus.findIndex(e => e.path === old.path);
      if (nowIndex != -1) {
        this.currentIndex = nowIndex;
        // 下标可能没变，手动触发一下
        this.isOverCallBack();
      } else {
        this.currentIndex = index - 1;
      }
    },
    left() {
      let inner = document.querySelector('.inner');
      inner.scrollLeft -= 50;
    },
    right() {
      let inner = document.querySelector('.inner');
      inner.scrollLeft += 50;
    },

    /**
     * dom渲染完后回调
     */
    isOverCallBack() {
      this.$nextTick(() => this.isOperate = this.isOver());
    },

    /**
     * 判断元素是否溢出
     * offsetWidth：包括边框，内外边距的总宽度
     */
    isOver() {
      let outer = document.querySelector('.outer');
      let inner = document.querySelector('.inner');
      return inner.scrollWidth > outer.clientWidth;
    },

    /**
     * 实时获取元素宽度(不包括边距)
     * 放在回调里执行
     * $event.currentTarget.offsetWidth;
     */
    setFollowStyle(value) {
      this.$nextTick(() => {

        // 设置居中
        this.setTabCenter(value);

        let navFollow = this.$refs['navTabFollow'];
        if (value == 0) {
          navFollow.style.width = this.settings.height + 'px';
          navFollow.style.left = '-' + this.settings.height + 'px';
        } else {
          let e = this.$refs['ref_' + this.menus[value].path][0];
          let width = e.offsetWidth;
          let left = e.offsetLeft;
          navFollow.style.width = width + 'px';
          navFollow.style.left = left + 'px';
        }
      });
    },

    /**
     * 设置tab页居中
     */
    setTabCenter(value) {
      if (value == 0) {
        return;
      }
      if (!this.isOperate) {
        return;
      }
      let outer = document.querySelector('.outer').getBoundingClientRect();
      let target = this.$refs['ref_' + this.menus[value].path][0].getBoundingClientRect();
      let inner = document.querySelector('.inner');

      let currentDiff = target.left - outer.left;
      let targetDiff = (outer.width - target.width) / 2;
      let distance = currentDiff - targetDiff;
      inner.scrollLeft += distance;
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler: function (route) {
        this.source = 0;
        if (this.menus.length == 0 && route.path != this.homeUrl) {
          this.menus.push({ path: this.homeUrl });
          this.menus.push({
            name: route.meta.title,
            path: route.path,
            active: true,
            query: { ...route.query }
          });
          this.currentIndex = this.menus.length - 1;
        } else {
          let index = this.menus.findIndex(e => route.path === e.path);
          if (index == -1) {
            this.menus.push({
              name: route.meta.title,
              path: route.path,
              active: true,
              query: { ...route.query }
            });
            this.currentIndex = this.menus.length - 1;
          } else {
            this.currentIndex = index;
          }
        }
      }
    },
    currentIndex: {
      immediate: true,
      handler: function (value) {
        this.menus.forEach(e => e.active = false);
        this.menus[value].active = true;
        if (this.source !== 0) {
          this.$emit('toTarget', this.menus[value]);
        }

        this.setFollowStyle(value);
      }
    }
  },
  computed: {
    // 两种方式定义变量：props、comoputed; 任选一种
    style() {
      return {
        '--height': this.settings.height + 'px', // 赋值为父组件传过来的值，会覆盖默认的值
        '--width': this.settings.height + 'px' // 默认正方形
      };
    }
  },
  mounted() {
    // 初始化
    this.isOperate = this.isOver();

    // 写在mounted()钩子函数中
    window.onresize = () => {
      return (() => {
        this.isOperate = this.isOver();
      })()
    };

    // 监听动画结束事件
    this.$refs['navTabFollow'].addEventListener('transitionend', () => {
      this.isOperate = this.isOver();
    });
  },
  beforeDestroy() {
    this.$destroy()
  }
}
</script>

<style lang="scss" scoped>
.active {
  position: relative;
  color: #1890ff !important;
  background: #d3eefa;

  // 伪类横条
  // &::after {
  //   content: '';
  //   position: absolute;
  //   display: inline-block;
  //   width: calc(100% + 2px);
  //   height: 2px;
  //   left: -1px;
  //   top: calc(100% - 2px);
  //   background-color: #1890ff;
  // }
}

.active-default {
  color: #1890ff !important;
}

.nav-tab {
  width: 100%;
  height: var(--height);
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  z-index: 998; // 低于.header

  .nav-tab-tool {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;

    display: flex;
    justify-content: left;

    .notaction {
      cursor: no-drop !important;
    }

    .nav-tab-action {
      font-size: 10px;
      color: #6f7070c9;
    }

    .nav-tab-home {
      font-size: 13px;
      color: #6f7070c9;
    }

    .nav-tab-tool-li {
      height: 100%;
      float: left;
      line-height: calc(var(--height) + 1px);
      text-align: center;
      // border-left: 0.25px solid rgba(230, 230, 230, 0.541);
      
      // flex布局如何：父元素加了flex如何使子元素不左右对齐？
      // display: flex;
      // justify-content: center;
      // align-items: center;

      &:not(:nth-child(3)) {
        width: var(--width);
      }

      &:nth-child(3) {
        width: calc(100% - (4*var(--width) + 5*0.25px));
        // overflow: hidden; // 不能加在这里，不能滚动
      }

      &:hover {
        cursor: pointer;
      }

      .nav-tab-menus {
        height: 100%;
        line-height: normal;
        background-color: #fff;
        margin: 0;
        padding: 0 1px;
        list-style: none;
        user-select: none;

        // https://www.cnblogs.com/shiazhen/p/12937509.html
        overflow-x: hidden; // 要加，最大宽度受.outer的限制; auto-出现滚动条，但是效果好点
        scroll-behavior: smooth; // 使scrollLeft动画变得平滑
        scroll-snap-type: x mandatory; // 子元素滚动设置

        position: relative; // 给下划线提供定位

        display: flex;
        justify-content: left;
        align-items: center;

        .nav-tab-follow {
          width: auto; // 需要动态赋值
          height: 85%;
          background-color:rgba(6, 149, 245, 0.2);
          border-radius: 1px;
          transition: all .8s ease 0s;

          top: calc((100% - 85%) / 2); // 根据li来算位置
          position: absolute; // 绝对定位
          z-index: 0; // 位于li下方，防止遮挡(无法触发点击事件)
        }

        li {
          height: 85%;
          padding: 0 10px;
          margin-right: 2px;
          color: #7c7c7c;
          border-radius: 1px;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12); // 0.08~0.12
          float: left;
          cursor: pointer;

          position: relative; // 必须要设置，否则会被遮罩(absolute)遮挡
          z-index: 1; // 位于遮罩上方
          // scroll-snap-align: start; // 子元素滚动设置，使元素处于开头位置，磁吸（会影响scrollLeft）

          // https://blog.csdn.net/weixin_42678675/article/details/120952254
          flex-shrink: 0;

          display: flex;
          justify-content: center;
          align-items: center;

          & > span {
            font-size: 13px;
            min-width: 40px;
            margin-right: 5px;
          }

          & > .anticon-close {
            font-size: 10px;

            &:hover {
              color: rgb(14, 158, 158);
            }
          }
        }
      }
    }
  }
}
</style>