<template>
  <div>
    <div class="test-cover">test</div>
    <div class="wrapper">
      <h3>hellow word</h3>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {

    }
  },
  mounted() {
  },
  beforeDestroy() {
    this.$destroy()
  },
  methods: {
  }

}
</script>

<style lang="scss" scoped>
.test-cover {
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: rgb(11, 238, 166);

  position: relative;

  // 伪类横条
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(6, 149, 245, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: rgba(245, 6, 106, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  text-align: center;
}

.wrapper::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.wrapper > h3 {
  display: inline-block;
  vertical-align: middle;
}
</style>