<template>
  <div class="layout">
    <a-form class="search common" layout="inline" :form="form" @submit="handleSearch">
      <a-form-item label="">
        <a-input placeholder="请输入" />
      </a-form-item>
      <a-form-item label="">
        <a-input placeholder="请输入" />
      </a-form-item>
      <a-form-item>
        <a-button type="primary" icon="search">
          查询
        </a-button>
        <a-button :style="{ marginLeft: '8px' }" icon="undo" @click="handleReset">
          重置
        </a-button>
      </a-form-item>
    </a-form>
    <div class="search-result-list common">
      <div class="table-operations">
        <a-button type="primary" icon="plus">新增</a-button>
        <a-button type="danger" icon="delete" ghost>删除</a-button>
        <a-button icon="download">导出</a-button>
      </div>
      <a-table :columns="columns" :data-source="data">
        <a slot="name" slot-scope="text">{{ text }}</a>
        <span slot="customTitle"><a-icon type="smile-o" /> Name</span>
        <span slot="tags" slot-scope="tags">
          <a-tag v-for="tag in tags" :key="tag"
            :color="tag === 'loser' ? 'volcano' : tag.length > 5 ? 'geekblue' : 'green'">
            {{ tag.toUpperCase() }}
          </a-tag>
        </span>
        <span slot="action">
          <a>详情</a>
          <a-divider type="vertical" />
          <a>编辑</a>
        </span>
      </a-table>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      data: [
        {
          key: '1',
          name: 'John Brown',
          age: 32,
          address: 'New York No. 1 Lake Park',
          tags: ['nice', 'developer'],
        },
        {
          key: '2',
          name: 'Jim Green',
          age: 42,
          address: 'London No. 1 Lake Park',
          tags: ['loser'],
        },
        {
          key: '3',
          name: 'Joe Black',
          age: 32,
          address: 'Sidney No. 1 Lake Park',
          tags: ['cool', 'teacher'],
        },
      ],
      columns: [
        {
          dataIndex: 'name',
          key: 'name',
          slots: { title: 'customTitle' },
          scopedSlots: { customRender: 'name' },
        },
        {
          title: 'Age',
          dataIndex: 'age',
          key: 'age',
        },
        {
          title: 'Address',
          dataIndex: 'address',
          key: 'address',
        },
        {
          title: 'Tags',
          key: 'tags',
          dataIndex: 'tags',
          scopedSlots: { customRender: 'tags' },
        },
        {
          title: 'Action',
          key: 'action',
          scopedSlots: { customRender: 'action' },
        },
      ]
    };
  },
  computed: {

  },
  beforeDestroy() {
    this.$destroy()
  },
  updated() {
    console.log('updated');
  },
  methods: {
    handleSearch(e) {
      e.preventDefault();
      this.form.validateFields((error, values) => {
        console.log('error', error);
        console.log('Received values of form: ', values);
      });
    },

    handleReset() {
      this.form.resetFields();
    }
  },
};
</script>
<style lang="scss" scoped>
.common {
  padding: 24px;
  background: #fff;
  border-radius: 2px;
}

.layout {
  height: 100%;

  .search {
    margin-bottom: 12px;
  }

  .search-result-list {
    height: calc(100% - 100px);

    .table-operations {
      margin-bottom: 12px;
    }

    .table-operations>button {
      margin-right: 8px;
    }
  }
}
</style>