<template>
  <div class="gutter-layout">
    <a-row :gutter="[12, 12]" class="gutter-row">
      <a-col class="gutter-col" :xs="24" :sm="24" :md="12" :lg="12" :xl="6">
        <div class="gutter-box">
          <a-card title="今日访问数" :bordered="false">
          </a-card>
        </div>
      </a-col>
      <a-col class="gutter-row" :xs="24" :sm="24" :md="12" :lg="12" :xl="6">
        <div class="gutter-box">
          <a-card title="今日访问数" :bordered="false">
          </a-card>
        </div>
      </a-col>
      <a-col class="gutter-row" :xs="24" :sm="24" :md="12" :lg="12" :xl="6">
        <div class="gutter-box">
          <a-card title="今日运行数" :bordered="false">
          </a-card>
        </div>
      </a-col>
      <a-col class="gutter-row" :xs="24" :sm="24" :md="12" :lg="12" :xl="6">
        <div class="gutter-box">
          <a-card title="今日故障数" :bordered="false">
          </a-card>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[12, 12]" class="gutter-row">
      <a-col class="gutter-col" :span="24">
        <div class="gutter-box">
          <a-card :bordered="false" :tab-list="tabListNoTitle" :active-tab-key="noTitleKey"
            @tabChange="key => onTabChange(key, 'noTitleKey')">
            <p v-if="noTitleKey === '1'">
              
            </p>
            <p v-else-if="noTitleKey === '2'">
              
            </p>
            <a slot="tabBarExtraContent" href="#">More</a>
          </a-card>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  name: 'dashbaord',
  data() {
    return {
      tabListNoTitle: [
        {
          key: '1',
          tab: '当月',
        },
        {
          key: '2',
          tab: '全年',
        }
      ],
      noTitleKey: '2',
    };
  },
  mounted() {
  },
  beforeDestroy() {
    this.$destroy()
  },
  methods: {
    onTabChange(key, type) {
      this[type] = key;
    }
  }
}
</script>

<style lang="scss" scoped>
.gutter-layout {

  .gutter-box {
    background: #fff;
    height: 250px;
    // padding: 12px;
    border-radius: 2px;

    /**边框阴影 */
    // box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
</style>