<template>
  <div>
    <a-input v-model="inputValue" placeholder="Enter something..." />
    <a-button type="primary" @click="handleClick">Submit</a-button>
    <div class="home-page">home page</div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
export default defineComponent({
  setup() {
    const inputValue = ref('');
    const handleClick = () => {
      console.log('Input Value:', inputValue.value);
    };
    return {
      inputValue,
      handleClick
    };
  }
});
</script>
<style lang="scss" scoped>
.home-page {
  color: $color-195CC2;
}
</style>