<template>
  <a-layout class="zhuye" :style="cssVars">
    <!-- width="200" collapsedWidth="80"  -->
    <a-layout-sider class="navigation" :collapsedWidth="collapsedWidth" v-model="collapsed" :trigger="null" collapsible>
      <div class="logo">
        <a-avatar class="logo-image" shape="square" :src="logo" />
        <span class="logo-name" :class="{'logo-collapsed': collapsed}">测试</span>
      </div>

      <!-- 子组件的方式 -->
      <a-menu mode="inline" theme="light" class="lanlan-menu"
        :class="{'lanlan-menu-not-collapsed': !collapsed}"
        :inline-collapsed="collapsed"
        :selected-keys="selectedKeys"
        :open-keys="openKeys"
        @openChange="onOpenChange"
        @select="menuClick">
        <template v-for="item in menuInfo">
          <a-menu-item v-if="!(item.children && item.children.length)" :key="item.key">
            <a-icon :type="item.icon" />
            <span>{{ item.title }}</span>
          </a-menu-item>
          <sub-menu v-else :key="item.key" :menu-info="item" />
        </template>
      </a-menu>

    </a-layout-sider>
    <a-layout>
      <a-layout-header class="header" style="background: #fff; padding: 0;">
        <div class="header-left">
          <a-icon class="trigger" :type="collapsed ? 'menu-unfold' : 'menu-fold'"
            @click="() => (collapsed = !collapsed)" />
          <span v-if="treeNode.length == 0">欢迎进入管理平台</span>
          <a-breadcrumb style="display: inline-block;">
            <a-breadcrumb-item v-for="item in treeNode" :key="item.key">{{ item.title }}</a-breadcrumb-item>
          </a-breadcrumb>
        </div>
        <div class="header-right">
          <ul class="header-right-ul">
            <li tabindex="0">
              <a-icon type="search" style="font-size: 15px;" />
            </li>
            <li tabindex="1">
              <a-icon type="question-circle" style="font-size: 15px;" />
            </li>

            <a-popover :trigger="['click']" placement="bottomRight" overlayClassName="user-pop-root">
              <template slot="content">
                <!-- animated="false"是有问题的，:animated就没问题？ -->
                <a-tabs default-active-key="1" size="small" type="line" :animated="false">
                  <a-tab-pane key="1">
                    <span slot="tab">
                      <a-icon type="apple" /> 系统消息
                    </span>
                    明天将要降温，注意防寒保暖！
                  </a-tab-pane>
                  <a-tab-pane key="2">
                    <span slot="tab">
                      <a-icon type="android" /> 系统公告
                    </span>
                    这是个消息
                  </a-tab-pane>
                </a-tabs>
              </template>
              <li tabindex="2">
                <a-badge dot :count="0">
                  <a-icon type="bell" style="font-size: 15px;" />
                </a-badge>
              </li>
            </a-popover>

            <a-dropdown class="user" :trigger="['click']" placement="bottomRight" overlayClassName="user-drop-root">
              <li tabindex="3">
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                  <!-- 会自适应大小，不用单独设置 :size="30" -->
                  <a-avatar class="avatar" shape="square" :src="user?.avatar">{{ user?.concise }}</a-avatar>
                </a>
              </li>
              <a-menu slot="overlay">
                <!-- <a-menu-item key="1" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden; color: #c1c1c1;">
                  <a-row type="flex" justify="space-around">
                    <a-col :span="12">当前用户</a-col>
                    <a-col :span="12">{{ user.username }}</a-col>
                  </a-row>
                </a-menu-item> -->
                <a-menu-item key="1" style="text-align: center;">
                  <a-avatar :size="48" :src="user.avatar" style="color: #f56a00;background-color: #fde3cf;">{{ user?.concise }}</a-avatar>
                  <span style="display: block;font-weight: bolder;">{{ user.username }}</span>
                </a-menu-item>
                <a-menu-divider />
                <a-menu-item key="2">
                  <a href="javascript:;" @click="jumpAccount">
                    <a-icon type="user" /> 个人中心
                  </a>
                </a-menu-item>
                <a-menu-item key="3">
                  <a href="javascript:;">
                    <a-icon type="setting" /> 修改密码
                  </a>
                </a-menu-item>
                <a-menu-item key="4" @click="confirm">
                  <a href="javascript:;">
                    <a-icon type="logout" /> 退出登录
                  </a>
                </a-menu-item>
              </a-menu>
            </a-dropdown>
          </ul>
        </div>
      </a-layout-header>
      <div style="width: 100%;">
        <nav-tab @toTarget="switchWeb" :settings="{ height: 40 }"/>
      </div>
      <a-layout-content class="content">
        <router-view />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import NavTab from '@/components/NavTab';
import SubMenu from '@/components/SubMenuTwo';

import socketApi from "@/utils/websocket";
import { listMenu } from '@/request/api';
import auth from '@/utils/auth';

export default {
  components: { NavTab, 'sub-menu': SubMenu },
  data() {
    return {
      collapsed: false,
      logo: require("@/assets/images/logo.png"),
      collapsedWidth: 80,
      rootSubmenuKeys: [],
      openKeys: [],
      cacheOpenKeys: [],
      selectedKeys: [this.$route.path],
      menuInfo: [],
      treeNode: [],
      user: {}
    };
  },
  computed: {
    cssVars() {
      return {
        "--collapsed-width": this.collapsedWidth + "px"
      }
    }
  },

  watch: {
    collapsed(val) {
      if (val) {
        this.cacheOpenKeys = this.openKeys;
        this.openKeys = []
      } else {
        this.openKeys = this.cacheOpenKeys;
      }
    }
  },

  methods: {

    onOpenChange(openKeys) {
      const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1);
      if (this.rootSubmenuKeys.indexOf(latestOpenKey) === -1) {
        this.openKeys = openKeys;
      } else {
        this.openKeys = latestOpenKey ? [latestOpenKey] : [];
      }
    },

    /**
     * 点击菜单，路由跳转,注意的是当点击MenuItem才会触发此函数
     * this.$route.path: /
     * this.$router.path: undefined
     */
    menuClick({ item, key, keyPath }) {
      this.selectedKeys = [key];
      this.$router.push({ path: key });
    },

    /**
     * 切换菜单
     */
    switchWeb(data) {
      this.$router.push({ path: data.path, query: data.query });
      this.triggerMenu(data.path);
    },

    /**
     * 展开对应的父级菜单
     */
    triggerMenu(path) {
      let parents = this.treeFindPath(this.menuInfo, d => d.path === path);
      let parent = parents.length ? parents[0].path : null;
      this.selectedKeys = [path];
      this.cacheOpenKeys = [parent];
      if (!this.collapsed && parent) {
        this.onOpenChange([parent])
      }
    },

    /**
     * 递归查找
     */
    treeFindPath(tree, func, path = []) {
      if (!tree) return []
      for (const data of tree) {
        path.push(data)
        if (func(data)) return path
        if (data.children) {
          const findChildren = this.treeFindPath(data.children, func, path)
          if (findChildren.length) return findChildren
        }
        path.pop()
      }
      return []
    },

    logout() {
      auth.logout();
      this.$router.push({ path: '/login' })
    },

    jumpAccount() {
      this.$router.push({ path: '/account', query: { ...this.user } });
    },

    confirm() {
      const _this = this; // 注意this指向问题

      this.$confirm({
        title: '提示',
        content: '确定注销吗？',
        centered: true, // 居中
        onOk() {
          return new Promise((resolve, reject) => {
            setTimeout(() => {
              _this.logout();
              resolve();
            }, 500);
          }).catch(() => _this.$message.error('退出失败'));
        },
        onCancel() {}
      });
    },

    // 初始化菜单
    initMenu() {
      listMenu({}).then(res => {
        let menuList = res.data[0]?.children;
        menuList.forEach(e => this.rootSubmenuKeys.push(e.path));
        this.menuInfo = menuList;
      });
    },

    // 
    websocketReceive(data) {
      // this.$message.info(data);
      // this.$notification.open({
      //   message: 'Websocket 提示',
      //   description: data,
      //   onClick: () => {
      //     console.log('Notification Clicked!');
      //   },
      // });
    }
  },

  // 路由离开组件时，需要销毁，否则内存占用一直变大
  beforeDestroy() {
    socketApi.closeWebSocket();
    this.$destroy()
  },

  /**
   * 钩子函数
   * mounted: function() {}
   */
  mounted() {
    this.initMenu();
    this.triggerMenu(this.$route.path);
    socketApi.initWebSocket(this.websocketReceive);
  }
};
</script>

<style lang="scss">
.zhuye {
  height: 100vh;

  .navigation {
    width: 200px;
    background-color: transparent;
    border-right: 1px solid #e8e8e8;

    .logo {
      height: 64px;
      line-height: 64px;
      padding-left: 24px; // (侧边栏最小宽度 - logo宽度) / 2
      overflow: hidden; // 展开时在下面菜单栏依稀看到，短暂的一瞬间闪过去了;
      text-align: left;
      color: rgb(72, 187, 240);

      background-color: rgb(252, 252, 252);
      letter-spacing: 2px; // 字体间距
      font-weight: bold;
      font-size: 18px;
      font-family: '微软雅黑', Courier, monospace;

      .logo-image {
        position: relative;
        top: -2px;
      }

      .logo-name {
        margin-left: 8px;
      }

      .logo-collapsed {
        display: none;
      }
    }
  }

  .ant-layout-sider-collapsed {
    .logo {
      padding: 0 calc((var(--collapsed-width) - 34px) / 2) !important;
      // transition: padding .3s; // 加入延时，不然很突兀

      .logo-image {
        width: 34px;
        height: 34px;
        transition: all .3s;
      }
    }
  }

  .lanlan-menu-not-collapsed {
    // 展示时左侧导航，会有右边框border:1px(组件自带的)影响观感，有其他方式解决么?
    // .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    //     border-right: 1px solid #e8e8e8;
    // }
    border-right: 0px;
  }

  .lanlan-menu {
    height: calc(100% - 64px);
  }

  // 满足两个类时才生效，不能有空格
  .lanlan-menu.ant-menu-inline-collapsed {
    width: var(--collapsed-width) !important;
    // transition: all .2s;
    // 左侧菜单栏收缩宽度设置
    .ant-menu-item, .ant-menu-submenu-title {
      left: 0;
      padding: 0 calc((var(--collapsed-width) - 16px) / 2) !important;
      text-overflow: clip;
    }

    // 覆盖样式
    .ant-menu-item-selected {
      background-color: transparent !important;

      .anticon {
        color: #1890ff;
      }
    }

    .ant-menu-submenu-selected {
      div .anticon {
        color: #1890ff;

        // 父级给子级提供相对位置
        position: relative;

        &::after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 36px;
          height: 36px;
          border-radius: 5px;
          background-color: rgba(6, 157, 245, 0.2);
          left: 50%;
          top: 43.6%;  // 正常取中间设置都是50% ---> 如何在svg前后添加伪类：before/after??
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    // transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .header {
    // position: sticky;
    // position: -webkit-sticky;
    // top: 0px;
    box-shadow: 0 1px 2px rgba(0, 21, 41, .08);
    z-index: 999;

    white-space: nowrap;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-right {
      height: 65%;
      margin-right: 5px;
      overflow: hidden;

      .header-right-ul {
        height: 100%;
        line-height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;

          height: 100%;
          margin: 0;
          padding: 0 12px;
          color: rgb(92, 92, 92);
          border-radius: 4px;

          &:hover {
            color: rgb(66, 66, 66);
            // background-color: #7bc2eb;
            cursor: pointer;
          }

        }

        .user {
          font-size: 10px;
          font-weight: 200;
          font-family: "Arial", "Microsoft YaHei", sans-serif;

          .avatar {
            font-weight: normal;
            margin-right: 0px;
            color: #f56a00;
            background-color: #fde3cf;
          }
        }
      }
    }
  }

  .content {
    padding: 12px;
    overflow-y: auto;
    z-index: 0;
  }
}

// 不要写在.zhuye里面，否则不生效
// 菜单渲染父节点。默认渲染到 body 上，如果你遇到菜单滚动定位问题，试试修改为滚动的区域，并相对其定位。
.user-drop-root {
  width: 150px;
  top: 68px !important;

  a {
    font-size: 13px;
    letter-spacing: 0.5px;
    // color: #868686 !important;
  }
}

.user-pop-root {
  top: 58px !important;

  .ant-popover-arrow {
    display: none;
  }
}
</style>