<template>
  <div class="login">
    <div class="content">
      <div class="description">
      </div>
      <div class="form-login">
        <div class="form-login-detail">
          <div class="title">
            <span>登录</span>
          </div>
          <a-form-model layout="vertical" ref="ruleForm" :model="form" :rules="rules">
            <a-form-model-item label="" ref="username" prop="username">
              <a-input placeholder="用户名" allow-clear default-value="" size="large" v-model="form.username" @blur="() => $refs.username.onFieldBlur()">
                <a-icon slot="prefix" type="user" style="color: #c1c1c1;"/>
              </a-input>
            </a-form-model-item>
            <a-form-model-item label="" ref="password" prop="password">
              <a-input-password placeholder="密码" allow-clear default-value="" size="large" v-model="form.password" @blur="() => $refs.password.onFieldBlur()">
                <a-icon slot="prefix" type="lock" style="color: #c1c1c1;"/>
              </a-input-password>
            </a-form-model-item>
            <a-form-model-item ref="captcha" prop="captcha">
              <a-row :gutter="0">
                <a-col :span="11">
                  <a-input placeholder="验证码" size="large" v-model="form.captcha" @blur="() => $refs.captcha.onFieldBlur()">
                    <a-icon slot="prefix" type="safety" style="color: #c1c1c1;"/>
                  </a-input>
                </a-col>
                <a-col :span="2" />
                <a-col :span="11" style="overflow: hidden;">
                  <!-- <a-button type="link" block :style="{ backgroundImage: `url(${captcha})` }"/> -->
                  <img class="captcha" src="http://localhost:8090/api/captcha" ref="img_captcha" @click="getCaptcha"/>
                </a-col>
              </a-row>
            </a-form-model-item>
            <a-form-model-item>
              <a-button type="primary" size="large" block :loading="loading" @click="onSubmit">
                登录
              </a-button>
            </a-form-model-item>
          </a-form-model>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from '@/request/api'
import auth from '@/utils/auth'

export default {
  data() {
    return {
      // captcha: require('@/assets/images/captcha.gif'),
      // captcha: 'http://localhost:8090/api/captcha',
      loading: false,
      form: {
        username: 'admin', // 优先级高 > default-value="admin"
        password: 'admin',
        captcha: '9272'
      },
      rules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' }
        ],
        captcha: [
          { required: true, message: '请输入验证码', trigger: 'blur' }
        ]
      }
    }
  },
  beforeDestroy() {
    this.$destroy()
  },
  methods: {
    getCaptcha() {
      this.$refs.img_captcha.src = 'http://localhost:8090/api/captcha?time=' + new Date()
    },
    onSubmit() {
      this.loading = true;

      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          login(this.form).then(res => {
            this.$message.success('登录成功，欢迎回来!');
            setTimeout(() => {
              this.loading = false;
              this.loginSuccess(res.data);
            }, 500);
          });
        }
      });
    },
    loginSuccess(data) {
      auth.setToken(data?.token);
      this.$router.push({ path: '/' });
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  font-family: "Consolas", "Arial", "Microsoft YaHei", sans-serif;
  background-color: rgba(238, 253, 255, 0.425);
  
  display: grid;
  align-items: center;
  justify-content: center;

  .content {
    width: 950px;
    height: 480px;
    border-radius: 6px;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    display: flex;
    align-items: center;
    justify-content: left;

    .description {
      width: 60%;
      height: 100%;
      background-color: rgb(97, 194, 197);
    }

    .form-login {
      width: 40%;
      height: 100%;
      background-color: white;

      display: flex;
      align-items: center;
      justify-content: center;

      .form-login-detail {
        width: 75%;
        height: 80%;

        // display: flex;
        align-items: center;
        justify-content: center;

        .title {
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 25px;
          font-weight: normal;
          margin: 28px 0;
        }

        .captcha {
          cursor: pointer;
        }
      }
    }
  }

  // 覆盖样式
  :deep(.ant-form-vertical .ant-form-item) {
    padding-bottom: 0px;
  }
}
</style>
